@model DebtManagement.Web.DTOs.PaymentDTO

@{
    ViewData["Title"] = "Payment Details";
}

<h1>Payment Details</h1>

<div>
    <h4>Payment</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.DebtId)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.DebtId)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.AmountPaid)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.AmountPaid)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.PaymentDate)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.PaymentDate)
        </dd>
    </dl>
</div>

<div>
    <a asp-action="Edit" asp-route-id="@Model.Id" class="btn btn-primary">Edit</a>
    <a asp-action="Index" class="btn btn-secondary">Back to List</a>
</div>
